/* Basic reset */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background: #f8f8f8;
}

.login-page {
   width: 360px;
   padding: 8% 0 0;
   margin: auto;
}

.form {
   position: relative;
   z-index: 1;
   background: #ffffff;
   max-width: 360px;
   margin: 0 auto 100px;
   padding: 45px;
   text-align: center;
   box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input[type="text"],
.form input[type="email"],
.form input[type="password"] {
   font-family: "Roboto", sans-serif;
   outline: 0;
   background: #f2f2f2;
   width: 100%;
   border: 0;
   margin: 0 0 15px;
   padding: 15px;
   box-sizing: border-box;
   font-size: 14px;
}

.form button {
   font-family: "Roboto", sans-serif;
   text-transform: uppercase;
   outline: 0;
   background: #4caf50;
   width: 100%;
   border: 0;
   padding: 15px;
   color: #ffffff;
   font-size: 14px;
   -webkit-transition: all 0.3 ease;
   transition: all 0.3 ease;
   cursor: pointer;
}

.form button:hover,
.form button:active,
.form button:focus {
   background: #43a047;
}

.form .message {
   margin: 15px 0 0;
   color: #b3b3b3;
   font-size: 12px;
}
.err_msg {
   margin: 15px 0 10px;
   color: red;
   font-size: 12px;
}
.form .message a {
   color: #4caf50;
   text-decoration: none;
}

/* otp style */
.otp-container {
   width: 450px;
   margin: 100px auto;
   padding: 30px;
   background-color: #fff;
   border-radius: 5px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
   text-align: center;
}

h2 {
   margin-bottom: 20px;
   font-size: 24px;
   font-weight: 600;
}

.otpInput {
   width: 60px;
   height: 60px;
   margin: 10px;
   font-size: 30px;
   text-align: center;
   border: none;
   border-radius: 5px;
   background-color: #f5f5f5;
}

.resend-btn {
   margin-top: 20px;
   padding: 10px 20px;
   border: none;
   border-radius: 5px;
   background-color: #4caf50;
   color: #fff;
   font-size: 18px;
   cursor: pointer;
   transition: all 0.3s ease;
}

.resend-btn:hover {
   background-color: #3e8e41;
}

/* home page design */

.DashBoard {
   display: flex;
   flex-direction: column;
   background-color: white;
   max-height: auto;
   height: 100vh;
   position: relative;
}
.DashBoard_intro {
   margin-top: 30px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   width: auto;
   height: auto;
}
.DashBoard_intro_icon_heading_holder {
   display: flex;
   gap: 1.2rem;
}

.DashBoard_intro_icon_heading_holder span i {
   margin: 40px 10px 0 45px;
   font-size: 70px;
}

.DashBoard_intro h2 {
   font-size: 40px;
   font-family: Comic Sans MS;
   padding-bottom: 30px;
   padding-top: 50px;
}

.DashBoard_intro input {
   height: 60px;
   width: 20rem;
   margin: 50px 40px 30px 30px;
   padding: 10px 10px 10px 20px;
   border-radius: 10px;
   font-weight: 400;
   font-size: 25px;
   color: gold;
   background-color: transparent;
   border: 1px solid teal;
}
.DashBoard_intro input:focus {
   outline: none;
}
.DashBoard_intro input::placeholder {
   color: gold;
}

.action-selector-holder {
   display: flex;
   justify-content: space-around;
   margin-top: 50px;
}

.action-selector {
   max-width: 330px;
   width: 270px;
   height: 360px;
   background-color: teal;
   border-radius: 30px;
   text-align: left;
   display: flex;
   flex-direction: column;
   gap: 1rem;
   padding-left: 30px;
}

.action-selector i {
   font-size: 80px;
   margin-top: 3rem;
   color: gold;
}

.action-selector-span {
   font-size: 30px;
   color: gold;
   font-weight: 500;
   font-family: Sans-Serif;
   margin-top: 5rem;
}

.Recently_Added {
   display: flex;
   justify-content: space-between;
   margin-top: 60px;
   padding: 30px;
   margin-bottom: 80px;
}
.Recently_Added span {
   font-size: 30px;
   font-weight: 300;
}

.Recently_Added span i {
   color: teal;
   font-size: 40px;
   margin-left: 1rem;
}

.Recently_Added button {
   width: 11rem;
   height: 3.8rem;
   text-align: left;
   border: 1px solid teal;
   color: white;
   border-radius: 30px;
   margin-right: 30px;
   background-color: teal;
   font-size: 30px;
   font-weight: 400;
   padding-left: 25px;
}

.Recently_Added button i {
   margin-right: 10px;
   color: gold;
   font-size: 25;
   font-weight: 500;
}

.main_passwd_holder {
   display: flex;
   gap: 1.5rem;
   justify-content: space-around;
   margin: 60px 0;
}
.edit_Span {
   color: gold;
   font-size: 50px;
}
.Password_holder {
   display: flex;
   flex-direction: column;
}

.Password_holder h2 {
   font-size: 40px;
   color: teal;
   font-weight: 400;
}
.Password_holder span {
   color: teal;
   font-size: 20px;
   font-weight: 250;
}
.Password_holder span i {
   font-size: 5px;
}
.Pass_progress {
   display: flex;
   flex-direction: column;
   padding-top: 20px;
   gap: 1rem;
}
.Pass_progress span {
   color: teal;
   font-weight: 300;
}

progress {
   width: 300px;
   height: 15px;
   background-color: teal;
   border: 1px solid gold;
   color: white;
   border-radius: 4px;
}
progress::-webkit-progress-bar {
   background-color: #eee;
   border-radius: 4px;
}

/* Change the inner color of the progress bar */
progress::-webkit-progress-value {
   background-color: teal; /* Change this color */
   border-radius: 4px;
}

progress::-moz-progress-bar {
   background-color: teal;
   border-radius: 4px;
}

.strengthStatus {
   display: flex;
   gap: 2rem;
}

/* password input form   */
.Create_Entry_Form_Holder,
.openGeneratePass,
.copyGenPass {
   position: absolute;
   top: 23%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-color: white;
   padding: 35px 50px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   color: teal;
   border-radius: 15px;
   display: none;
   border: 1px solid gold;
}
.Create_Entry_Form_Holder h1 {
   color: teal;
   text-align: center;
   margin-top: 30px;
}

.CreateEntryForm {
   font-family: Arial, sans-serif;
   max-width: 400px;
   margin: 30px auto;
   background-color: #fff;
   border-radius: 8px;
   padding: 20px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
   display: block;
   margin: 20px 0 10px;
   color: #333;
   font-weight: bold;
}

.CreateEntry {
   width: 100%;
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 4px;
   box-sizing: border-box;
}

input[type="submit"] {
   background-color: #008080;
   color: #fff;
   border: none;
   padding: 10px 20px;
   border-radius: 4px;
   cursor: pointer;
   font-weight: bold;
   margin: 20px auto;
}

input[type="submit"]:hover {
   background-color: gold;
}

.closePanel {
   position: absolute;
   top: 20px;
   right: 40px;
   font-size: 60px;
   color: black;
}

.display_password_data {
   display: flex;
   flex-direction: column;
   gap: 1rem;
   height: 100vh;
   width: auto;
   padding: 30px 70px;
   background-color: white;
   padding-top: 100px;
}
.display_password_data form {
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.display_password_data h4 {
   font-size: 40px;
   color: teal;
   font-family: Monospace;
   margin: 20px 50px 10px 0;
}

.display_password_data input,
.copyGenPassSpan {
   height: auto;
   width: auto;
   padding: 20px;
   background-color: #eae6e6;
   margin: 10px 20px 10px 0;
   font-size: 20px;
   border-radius: 15px;
   border: 0.5px solid #eae6e6;
}

.display_password_data div {
   display: flex;
   justify-content: space-around;
   font-size: 30px;
}
.display_password_data div button {
   width: 100px;
   height: 50px;
   border: 1px solid teal;
   border-radius: 15px;
   color: white;
   margin: 20px 0;
   background-color: teal;
}

.display_password_data div a {
   margin-top: 30px;
   color: black;
   text-decoration: none;
}

.openGeneratePass,
.copyGenPass {
   flex-direction: column;
   gap: 1rem;
   padding: 50px 100px;
   text-align: center;
   border: 0.1px solid black;
}

.openGeneratePass button {
   height: 100%;
   padding: 20px;
   width: 100%;
   font-size: 30px;
   background-color: teal;
   color: white;
   border-radius: 15px;
   border: 0.1px solid teal;
}
